<h2>Reportes</h2>
<p>
	Para ver los reportes que ha enviado este usuario pulsa en los siguientes enlaces:
	<ul>
		<li>
			<%= link_to reportes_mensuales_inscripcion_path(inscripcion) do %>
				Controles Mensuales de Horas
			<% end %>
		</li>
		<li>
			Informes Bimensuales
		</li>
		<li>
			Informe Final
		</li>
	</ul>
</p>