<% provide(:title, 'Lista de administradores') %>
<% provide(:sidebar_active, :admins) %>
<h1>Lista de administradores</h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Usuario</th>
			<th>Nombre</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		<% @admins.each do |a| %>
			<tr>
				<td>
					<%= link_to a.user.username, a %>
				</td>
				<td>
					<%= "#{a.nombre} #{a.apaterno} #{a.amaterno}" %>
				</td>
				<td>
					<%= render 'admin_btn', obj: a %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>