<% provide(:title, 'Programas') %>

<div class="hero-unit">
	<h1>Programas de Servicio Social</h1>
	<p>Por favor selecciona el tipo de programa que deseas consultar; <em>interno o externo.</em></p>
</div>
<div class="row" id="categorias">
	<div class="span6">
		<h2>Externos</h2>
		<p>Se refieren al desarrollo de actividades propias del perfil académico dentro de instituciones del Sector Público Federal, Estatal o Municipal, Asociaciones Civiles sin fin de lucro y ONGs.</p>
		<p>Son <strong>únicamente para estudiantes de la UACM</strong>. Si eres de alguna otra institución debes revisar los programas <strong>internos</strong>.</p>
		<%= link_to externos_cprogramas_path, class: 'btn btn-warning btn-block btn-large' do %>
			<i class="icon-th-list"></i>
			Ver lista de programas
		<% end %>
	</div>
	<div class="span6">
		<h2>Internos</h2>
		<p>Se refieren al desarrollo de diversas actividades con el propósito de apoyar proyectos de investigación, académicos y administrativos, bajo la supervisión de personal calificado de la Universidad.</p>
		<p>Se llevan acabo en diferentes áreas de esta casa de estudios, según el perfil del estudiante.</p>
		<%= link_to internos_cprogramas_path, class: 'btn btn-warning btn-block btn-large' do %>
			<i class="icon-th-list"></i>
			Ver lista de programas
		<% end %>
	</div>
</div>