<% if object.errors.any? %>
  <div id="error_explanation" class="well well-small bgred text-error">
    <h4>El formulario contiene errores!</h4>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>