<table class="table table-bordered" id="firmas">
	<thead>
		<tr>
			<th class="span4">Prestador</th>
			<th class="span4">Supervisor o Jefe Inmediato</th>
			<th>Responsable del Programa de Servicio Social</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span class="placeholder"></span>
			</td>
			<td>
				<span class="placeholder"></span>
			</td>
			<td>
				<span class="placeholder"></span>
			</td>
		</tr>
		<tr>
			<td>
				<h5>Nombre</h5>
			</td>
			<td>
				<h5>Nombre</h5>
			</td>
			<td>
				<h5>Nombre</h5>
			</td>
		</tr>
	</tbody>
</table>