<nav class="span3" id="sidebar">
	<ul class="nav nav-list well well-small">
		<li id="home">
      <%= link_to cprogramas_path do %>
      	<i class="icon-home"></i>
        Inicio
      <% end %>
      </a>
    </li>
    <li class="nav-header">Gestionar perfil</li>
    <li id="perfil">
      <%# link_to edit_institucion_user_path(current_user.institucion_user) do %>
        <i class="icon-edit"></i>
        Editar datos
      <%# end %>
    </li>
    <li class = "nav-header">Genestionar Programas </li>
    <li id="sendPropues">
    	<%= link_to new_cprograma_path do %>
        <i class = "icon-pencil"></i> 
        Enviar propuesta
      <% end %>
    </li>
    <li id="actualPropues">
    	<a href="#"> 
          <i class = "icon-refresh"></i> 
          Actualizar programa
        </a>
    </li>
    <li id="bajaPropues">
    	<a href="#"> 
          <i class = "icon-remove"></i> 
          Solicitar baja
        </a>
    </li>
    <!-- Avisos -->
    <li class = "divider"></li>
    <li id="avisosPropues">
      <a href="#">
        <i class = "icon-exclamation-sign"></i>
        Avisos
      </a>
    </li>		
    <li class="divider"></li>
	</ul>
</nav>