<% provide(:sidebar_active, :revControl) %>
<h1>Control Mensual de Horas</h1>
<% if @reportes.any? %>
<p class="lead">Lista de todos los reportes que haz enviado</p>
<%= render 'table', reportes: @reportes %>
<% else %>
<p class="lead">
	No haz enviado ningún reporte todavía.
</p>
<% end %>