<li>
  <%= link_to edit_prestador_path(current_user) do %>
  <i class="icon-edit"></i>
  Editar perfil
  <% end %>
</li>
<li class="divider"></li>
<li class="nav-header">Gestionar Servicio</li>
<li><a href="#"><i class="icon-remove"></i>
  Solicitar baja
  </a>
</li>
<li><a href="#"><i class="icon-share-alt"></i>
  Cambiar de programa
  </a>
</li>
<li><a href="./suspender.jsp"><i class="icon-pause"></i>
  Suspender servicio
  </a>
</li>