<% provide(:title, "Gestionar Control Mensual de Horas") %>
<% provide(:sidebar_active, :reportes_cmh) %>

<h1>
	Lista de reportes
	<small>Control Mensual de Horas</small>
</h1>

<p>
	Listar por categoría:
	<%= links_to_estado EstadoReporte, controller: controller_name, action: action_name  %>
</p>

<% if @reportes.any? %>

	<%= will_paginate(@reportes) %>
	<%= render 'monthly_reports/table', reportes: @reportes %>

<% else %>
<p class="lead">No hay ningún reporte en la base de datos.</p>
<% end %>