<% provide(:title, "Gestionar Informes Bimensuales de Actividades") %>
<% provide(:sidebar_active, :reportes_iba) %>

<h1>
	Lista de reportes
	<small>Informe Bimensual de Actividades</small>
</h1>

<p>
	Listar por categoría:
	<%= links_to_estado EstadoReporte, controller: controller_name, action: action_name  %>
</p>

<% if @reportes.any? %>

	<%= will_paginate(@reportes) %>
	<%= render 'bi_monthly_reports/table', reportes: @reportes %>

<% else %>
<p class="lead">No se encontró ningún reporte.</p>
<% end %>