<div class="span5" style="text-align: right;">
    <a class="btn btn-primary" id="addLicen">Agregar Licenciatura</a>
    <p style="text-align: left;" class = "help-block"><em> Si quieres agregar otra licenciatura presiona el botón</em></p>
</div>
<table class="table table-condensed " id="table-acts">
    <thead>
        <tr>
            <th>Licenciatura</th>
            <th>Vacantes</th>
            <th>Actividades</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody id="rows-acts">
        <tr id="row1">
            <td>
                <%= f.input_field :carrera, :class => "input-large" %>
            </td>
            <td> 
                <%= f.input_field :solicitados, :class => "input-mini", :collection => 1..30 %>
            </td>
            <td>
                <%= f.text_area :actividad, :rows => "5"%>
            </td>
            <td><input class="btn btn-mini btn-danger" type="button" id="elim1" value="Eliminar" /></td>
        </tr>
    </tbody>
</table>