<div class="span5" style="text-align: right;">
    <a class="btn btn-primary" id="addLicen">Agregar Licenciatura</a>
    <p style="text-align: left;" class = "help-block"><em> Si quieres agregar otra licenciatura presiona el botón</em></p>
</div>
<table class="table table-condensed " id="table-acts">
    <thead>
        <tr>
            <th>Licenciatura</th>
            <th>Vacantes</th>
            <th>Actividades</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody id="rows-acts">
        <%= f.simple_fields_for :licenciaturas do |builder| %>
            <%= render 'licenciaturas_fields', f: builder %>
        <% end %>
    </tbody>
</table>