<p class="lead">
	Tu solicitud de inscripci&oacute;n v&iacute;a Art&iacute;culo 91 est&aacute; siendo validada por un responsable de Servicio Social.
<%# link_to mi_inscripcion_path do %>
	<%# <strong>Ver estado</strong> %>
<%# end %>
</p>