<p class="lead">Tu inscripción contiene errores. Por favor revisa las observaciones que se te hicieron y edita los datos necesarios.</p>

<%= link_to mi_inscripcion_path, class: 'btn btn-primary' do %>
	<i class="icon-eye-open"></i>
	<strong>Ver estado</strong>
<% end %>

<%= link_to mi_inscripcion_edit_path, class: 'btn btn-warning' do %>
	<i class="icon-pencil"></i>
	Editar
<% end %>