<p class="lead">
	Tu inscripción ha sido validada <strong>correctamente</strong> pero <strong>aún no estás inscrito</strong>. Por favor imprime tu solicitud de inscripción junto con tu carta compromiso y entrégala en las <em>Oficinas de Servicio Social</em>.
</p>