<p class="lead">
	Tu inscripción ha sido validada <strong>correctamente</strong> pero <strong>aún no estás inscrito</strong>. Por favor imprime tu solicitud de inscripción junto con tu carta compromiso y entrégala en las <em>Oficinas de Servicio Social</em>.
</p>

<%= link_to carta_compromiso_path, class: 'btn btn-inverse' do %>
	<i class="icon-print icon-white"></i>
	Imprimir Carta Compromiso
<% end %>

<%= link_to solicitud_servicio_path, class: 'btn btn-warning' do %>
	<i class="icon-print icon-white"></i>
	Imprimir Solicitud de Servicio Social
<% end %>