<p class="lead">Parece que a&uacute;n no est&aacute;s inscrito en ning&uacute;n <strong>Programa de Servicio Social</strong>. Puedes hacerlo pulsando la opci&oacute;n de <em>Inscripci&oacute;n</em> en la barra lateral de navegaci&oacute;n o pulsando el siguiente bot&oacute;n.</p>
<%= link_to "Inscripción al Servicio Social", inscripcion_servicio_path, class: 'btn btn-primary btn-large' %>