<p class="lead">
	Tu solicitud de inscripci&oacute;n est&aacute; siendo validada por un responsable de Servicio Social.
<%= link_to mi_inscripcion_path do %>
	<strong>Ver estado</strong>
<% end %>
</p>
<p>Una vez que se compruebe que es correcta, genera tu <em>Carta Compromiso</em> y entrega los papeles respectivos en las oficinas de Servicio Social.Una vez que se compruebe que es correcta, genera tu <em>Carta Compromiso</em> y entrega los papeles respectivos en las oficinas de Servicio Social.</p>
<a href="#" class="btn btn-inverse">
	<i class="icon-print"></i>
	Generar carta compromiso
</a>