<p class="lead">Tu solicitud de inscripci&oacute;n est&aacute; siendo validada por un responsable de Servicio Social. <a href="#"><strong>Ver estado</strong></a></p>
<p>Una vez que se compruebe que es correcta, genera tu <em>Carta Compromiso</em> y entrega los papeles respectivos en las oficinas de Servicio Social.Una vez que se compruebe que es correcta, genera tu <em>Carta Compromiso</em> y entrega los papeles respectivos en las oficinas de Servicio Social.</p>
<a href="#" class="btn btn-inverse btn-small">Generar carta compromiso</a>