<p>Actualmente est&aacute;s inscrito en el siguiente programa de Servicio Social:</p>
<blockquote class="lead">
	<%= inscripcion.cprograma.nombre %>
</blockquote>
<h6 class="muted right">Clave del programa: <%= inscripcion.cprograma.cveprograma %></h6>

<p>
	<strong>Tipo de inscripción:</strong> <%= inscripcion.tipo_inscripcion %>
</p>

<h3>Horas acumuladas</h3>
<div class="progress progress-success" style="height: 30px; border: 1px solid #8c8c8c;">
	<div class="bar" style="width: 0%; height: 30px;"></div>
</div>
<h6>0/480 - 0%</h8>
