<%= render 'shared/saludo' %>
<p>Actualmente est&aacute;s inscrito en el siguiente programa de Servicio Social:</p>
<p class="lead"><strong>Apoyo al &aacute;rea acad&eacute;mico-administrativa en la UACM</strong></p>
<h3>Horas acumuladas</h3>
<div class="progress progress-success" style="height: 30px; border: 1px solid #8c8c8c;">
	<div class="bar" style="width: 70%; height: 30px;"></div>
</div>
<h6>xx/480 - 44%</h8>