<div class="btn-group btn-block">
	<a href="#" class="btn btn-mini btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
		Administrar
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu left" role="menu" aria-labelledby="dLabel">
		<li>
			<%= link_to obj do %>
				<i class="icon-eye-open"></i>
				Ver detalles
			<% end %>
		</li>
		<li>
			<%= link_to edit_cprograma_path(obj) do %>
			<i class="icon-pencil"></i>
			Editar
			<% end %>
		</li>
		<li>
			<%= link_to print_cprograma_path(obj) do %>
			<i class="icon-print"></i>
			Imprimir
			<% end %>
		</li>
		<li>
			<%= link_to cprograma_path(obj), method: :delete, confirm: 'Estás seguro?' do %>
			<i class="icon-trash"></i>
			Solicitar baja
			<% end %>
		</li>
	</ul>
</div>