<table class="table table-bordered" id="firmas">
	<thead>
		<tr>
			<th colspan="3">AUTORIZACIÓN</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span class="placeholder"></span>
			</td>
			<td>
				<span class="placeholder"></span>
			</td>
			<td>
				<span class="placeholder"></span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="muted">Firma del prestador de Servicio Social</span>
			</td>
			<td>
				<span class="muted">(Nombre, Firma y Cargo del Responsable del Programa)</span>
			</td>
			<td>
				<span class="muted">Responsable de la Oficina de Servicio Social de la UACM</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="placeholder"></span>
			</td>
			<td rowspan="2">
				<strong class="sello">SELLO</strong>
			</td>
			<td rowspan="2">
				<strong class="sello">SELLO</strong>
			</td>
		</tr>
		<tr>
			<td>
				<span class="muted">(Nombre, firma y Cargo del Supervisor o Jefe Inmediato)</span>
			</td>
		</tr>
	</tbody>
</table>

<p>
	Ciudad de México, Distrito Federal a los <span class="date"><%= l Date.today, format: :full %>, <%= l Time.now, format: :short %></span>.
</p>