// Place all the styles related to the institucion_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#lista-programas {
	th {
		text-align: center;
		
		&:nth-child(2) {
			width: 160px;
		}
		&:nth-child(3) {
			width: 100px;
		}
	}
}