<div class="well well-small">
    <p>
        <%= link_to_function "Agregar responsable", "nuevo_responsable()", class: "btn btn-primary center" %>
    </p>
    <em>Si quieres agregar otro responsable presiona el botón</em>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Resposable</th>
            <th>Cargo</th>
            <th>
                <i class="icon-envelope"></i> Email
            </th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <%= f.simple_fields_for :responsables do |respon| %>
            <%= render 'cprogramas/forms/responsables_fields', f: respon %>
        <% end %>
    </tbody>
</table>