<div class="well well-small center">
    <p>
        <%= link_to_function "Agregar licenciatura", "nueva_licenciatura()", id:"17", class: "btn btn-primary center" %>
    </p>
    <em>Si quieres agregar otra licenciatura presiona el botón</em>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Licenciatura</th>
            <th>Vacantes</th>
            <th>Actividades</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody id="acts">
        <%= f.simple_fields_for :licenciaturas do |builder| %>
        <%= render 'cprogramas/forms/licenciaturas_fields', f: builder %>
        <% end %>
    </tbody>
</table>