<tr id="lic0">
	<td>
		<%= f.input_field :carrera %>
	</td>
	<td> 
		<%= f.input_field :solicitados, :class => "input-mini use-select2", :collection => 1..30, include_blank: false %>
	</td>
	<td>
		<%= f.text_area :actividad, :rows => 5 %>
	</td>
	<td>
		<%= link_to_function "Eliminar", "eliminar_licenciatura(0)", class: 'btn btn-mini btn-danger', id: 'elim0' %>
	</td>
</tr>