<footer id="footer">
	<div class="container">
		<span>
			<strong>Elaborado por Fernando Gómez y Jorge Macías, prestadores de Servicio Social</strong> - 2012
		</span>
		<span class="pull-right">
			<a href="http://www.uacm.edu.mx/">
				<strong><em>Universidad Aut&oacute;noma de la Ciudad de M&eacute;xico</em></strong>
			</a>
		</span>
	</div>
</footer>
<%= hidden_field_tag :sidebar_active, yield(:sidebar_active) %>
<%= hidden_field_tag :nav_active, yield(:nav_active) %>