<footer id="footer">
	<div class="container">
		<span>
			<strong>Skyforge</strong> &copy; 2012
		</span>
		<span class="pull-right">
			<strong><em>Universidad Aut&oacute;nma de la Ciudad de M&eacute;xico</em></strong>
		</span>
	</div>
</footer>